@model CEPMBL.Entities.Company

@{
    ViewBag.Title = "Create Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstablishedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstablishedDate)
            @Html.ValidationMessageFor(model => model.EstablishedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebSite)
            @Html.ValidationMessageFor(model => model.WebSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TinNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TinNumber)
            @Html.ValidationMessageFor(model => model.TinNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrationNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrationNumber)
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>