@model CEPMBL.Entities.Company

@{
    ViewBag.Title = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <form class="form-horizontal">
        @Html.HiddenFor(model => model.CompanyId)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName)
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstablishedDate)
            @Html.EditorFor(model => model.EstablishedDate)
            @Html.ValidationMessageFor(model => model.EstablishedDate)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WebSite)
            @Html.EditorFor(model => model.WebSite)
            @Html.ValidationMessageFor(model => model.WebSite)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinNumber)
            @Html.EditorFor(model => model.TinNumber)
            @Html.ValidationMessageFor(model => model.TinNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationNumber)
            @Html.EditorFor(model => model.RegistrationNumber)
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive)
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>